@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TRASH COLLECTION SERVICE</h1>
    <p class="lead"> </p>

</div>
<div>       <p class="lead">!!The objective of cleaning is not just to clean, but to feel happiness living within that environment. !!.</p>
            @if (!Request.IsAuthenticated)
            {
         
            }
        </div>
        <div class="col-md-6">
            @*<img src="~C:\Users\amtul\Desktop\devcodecamp\Trash_Collection/tc1.jpg" />*@
        </div>
 


